:root{
    --background-color: #FBFFF1;
    --contrast-color: #3C3744;
    --primary-color: #3066BE;
    --secondary-color: #B4C5E4;
    --accent-color: #090C9B;
}

#container{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

#sidebar{
    grid-area: sidebar;
}

#header{
    grid-area: header;
}

#content{
    grid-area: content;
}